<div class="jumbotron text-center">
    <h1 class="display-4">My Todo List App</h1>
    <p class="lead">A Todo App for Storing Daily Task.</p>
    <hr class="my-4">
    <p class=" p-3">In this app angluar is used for making one page application and main feature is that the page does not get loaded
        here only the content changes in this app. <br>
        <b class="mt-3">Features of App</b></p>
    <ul>
        <li>You Can Add a Task</li>
        <li>Your Can Delete a Task</li>
        <li>Mark as Task Completed</li>
        <li>Your Task are Stroed in Browser localstorage</li>
    </ul>
<h4>Features of Angluar</h4>
<pre>
    It uses the Angular to store the todo app
    It make use of the 
    Routing Module
    ng-for
    *ngIf=expression
    EventEmitter
    and Bootstrap Jquery

</pre>
    
        <h6 class="text-center">Bablu Bambal</h6>
  



    <a class="btn btn-primary btn-lg" href="https://bablubambal.blogspot.com/" target="_blank" role="button">Contact
        Developer</a>
</div>